/* Defaults */
:root {
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --syntax-tab-size: 2;
}

/* Global stylesheet */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

table {
    margin: 1em 0;
}

table td,
table th {
    padding-right: 1em;
}

pre,
code {
    font-family: var(--font-family-monospace);
}

pre[class*="language-"] {
    margin-bottom: 1.5em !important;
}

pre:not([class*="language-"]) {
    margin: .5em 0;
    line-height: 1.375; /* 22px /16 */
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}

code {
    word-break: break-all;
}

.identifiants span {
    display: flex;
}

.identifiants div {
    display: flex;
    gap: 0.5rem;
    margin: 0px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    box-shadow: none;
    background-image: none;
}

.hidden {
    display: none !important;
}

/* Direct Links / Markdown Headers */
.header-anchor {
    background-image: none;
    text-decoration: none;
    font-style: normal;
    font-size: 1em;
    margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
    color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
    text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
    color: #aaa;
}

h2 + .header-anchor {
    font-size: 1.5em;
}

/* Custom DSFR */
.fr-pagination__list {
    justify-content: flex-end !important;
}

@media (min-width: 48em) {
    .fr-share__group {
        justify-content: flex-end !important;
    }
}

.fr-responsive-img.fr-ratio-auto {
    object-fit: contain;
}

.fr-quote__image img {
    object-fit: cover;
}

/** Properly render text in Markdown callout containers **/
div.fr-callout__text p {
    font-size: inherit;
    line-height: inherit;
}

/** Missing icons **/
.fr-follow .fr-btn--peertube:before,
.fr-follow .fr-btn--github:before,
.fr-follow .fr-btn--sourcehut:before {
    margin-left: 0;
    margin-right: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --icon-size: 2rem;
    content: "";
}

.fr-follow .fr-btn--peertube:before {
    -webkit-mask-image: url(/icons/logo/peertube.svg) !important;
    mask-image: url(/icons/logo/peertube.svg) !important;
}

.fr-follow .fr-btn--github:before {
    -webkit-mask-image: url(/icons/logo/github-fill.svg) !important;
    mask-image: url(/icons/logo/github-fill.svg) !important;
}

.fr-follow .fr-btn--sourcehut:before {
    -webkit-mask-image: url(/icons/logo/sourcehut.svg) !important;
    mask-image: url(/icons/logo/sourcehut.svg) !important;
}

/* Custom */
.fr-translate__btn::before {
    content: none !important;
}

.fr-header__tools-links .fr-btn.primary {
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
}

table {
    margin: 0;
}

.c-section--gray {
  background-color: var(--background-alt-grey);
}

.frx-text--center {
    text-align: center;
}

.frx-callout--offer-root {
    height: 100%;
}

.frx-callout--offer-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 32px;
}

.frx-callout--offer-text-tagline {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.frx-callout--offer-text-list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.frx-callout--offer-text-price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.frx-icon-spin::before {
    animation: spin 2s linear infinite;
}

.frx-display--xxs {
  font-size: 2.2rem !important;
  line-height: 2.9rem !important;
  font-weight: 700 !important;
  color: var(--text-default-grey)
}

.frx-nonumber::before {
    content: "";
}

.bgContrastInfoBlue {
    background-color: var(--background-action-high-blue-france, #000091);
}

.bgContrastInfoBlue h1, .bgContrastInfoBlue p, .bgContrastInfoBlue span {
    background-color: var(--background-action-high-blue-france, #000091);
    color: var(--text-inverted-blue-france, #f5f5fe);
}

.bgContrastInfoBlue .fr-icon-mail-add-line::before,  .bgContrastInfoBlue .fr-icon-mail-close-line::before{
    --icon-size: 4rem;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: stretch;
    width: 100%;
    margin: 5rem auto 6rem auto;
}

.newsletterForm {
    border-left: 4px solid var(--background-action-high-blue-france, #000091);
    max-width: 640px;
    padding-left: 2rem;
}

.infoDiv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.infoIconDiv {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    background-color: #F5F5FE;
    color: var(--background-action-high-blue-france, #000091);
}

.infoTextDiv {
    width: 85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.infoTextDiv p {
    margin-bottom: 0;
}

.confirmation-container {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.confirmation-container .fr-alert {
    max-width: 576px;
}

.confirmation-container .hintText {
    color: var(--text-mention-grey, #6f6f6f);
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.confirmation-container .fr-text--xl {
    font-weight: 700;
}

.confirmation-container .fr-tile{
    border: solid 1px var(--border-default-grey, #DDDDDD);
}

.confirmation-container .blue {
    background-color: var(--background-action-high-blue-france, #000091);
    color: white;
}

.confirmation-container .fr-tile {
    padding: 2rem;
    text-align: left;
    --border-plain-grey: none;
}

.confirmation-container .fr-tile__title {
    margin-bottom: 0.75rem;
    color: var(--background-action-high-blue-france, #000091);
    width: 100%;
}
.confirmation-container .blue .fr-tile__title {
    color: white;
}

.confirmation-container .fr-tile__desc p {
    font-weight: lighter;
}

.fr-tile__link{
    order: 4;
    margin-top: 2rem;
    font-weight: lighter;
    width: 100%;
    color: var(--background-action-high-blue-france, #000091);
}

.confirmation-container .blue .fr-tile__link {
    color: white;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 768px){
    .newsletter-container {
        flex-direction: column;
    }
}

@media (min-width: 78em) {
  .text-right-xl {
    text-align: right !important;
  }
}
@media (min-width: 48em) {
  .frx-display--xxs {
    font-size: 2.4rem !important;
    line-height: 3.1rem !important;
  }
}

/* Header */
.custom-center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.custom-center-btn.fr-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fr-menu__list {
    min-width: 288px;
}

@media (min-width: 62em) {
  .fr-menu .fr-nav__link {
      box-shadow: inset 0 1px 0 0 var(--border-default-grey);
  }
}

/* Page Évolutions */
.section_1 h2, .section_2 h2, .section_3 h2 {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-family: Marianne;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
}

.section_1 {
    background: var(--background-alt-grey, #f6f6f6);
    display: flex;
    padding: 80px 0 96px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch
}

.section_2 {
    display: flex;
    padding: 80px 0px 96px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.section_3 {
    background: var(--background-action-high-blue-france, #000091);
    color: var(--text-inverted-blue-france, #fff);
    display: flex;
    padding: 80px 0px 96px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.section_3 h2 {
    color: var(--text-inverted-grey, #fff);
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
}

.trimester_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 4px;
    background: var(--background-default-grey, #fff);
}

.trimester_tab button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    margin: 0;
    text-align: center;
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.trimester_tab button:hover {
    cursor: pointer;
    background: unset;
}

.trimester_tab .selected {
    color: var(--background-action-high-blue-france, #000091);
    border: solid 1px var(--border-active-blue-france, #000091);
    border-radius: 5px;
}

.tab_content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    background: var(--background-default-grey, #fff);
}

.tab_content.selected {
    display: flex;
}

.trimester_infos {
    display: flex;
    padding: 40px 40px 0 40px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.trimester_infos .title {
    flex: 1 0 0;
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.trimester_infos .fr-badge{
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.tab_content .month_container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 4px;
}

.tab_content .month_separator {
    height: 0px;
    border-bottom: solid 1px var(--border-default-grey, #DDDDDD);
    display: flex;
    margin: 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.tab_content .evo_elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.tab_content .evo_elem .fr-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.tab_content .evo_elem .text_zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.tab_content .evo_elem .text_zone p {
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    margin: 0;
    line-height: 24px;
}

.tab_content .evo_elem .text_zone p.title {
    font-weight: bold;
}

.tab_content .month {
    color: var(--text-mention-grey, #666);
    font-family: Marianne;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.section_1, .section_2, .section_3 {
    padding-bottom: 96px;
    margin-bottom: 0!important;
}

.section_2 .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.section_2 .note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    grid-row: 1 / span 1;
    justify-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--border-default-grey, #DDDDDD);
    background: var(--background-default-grey, #FFF);
    width: 48%;
}

.section_2 .note_content {
    display: flex;
    padding: 32px 32px 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    height: 100%;
}
.section_2 .note_content a:last-child {
    margin-top: auto;
}

.section_2 .note_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin: 0;
    color: var(--text-mention-grey, #666);
    font-family: Marianne;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.section_2 .note_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.section_2 .note_body h3 {
    color: var(--text-title-blue-france, #000091);
    font-family: Marianne;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.section_2 .note_body h3, .section_2 .note_body p {
    margin: 0;
}

.section_2 .note_action {
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
    gap: 8px;
    color: var(--text-title-blue-france, #000091);
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.section_2 .note_action[target=_blank]:after {
    margin-left: 0;
    height: 20px;
}

.section_2 .fr-tile {
    border: solid 1px var(--border-default-grey, #DDDDDD);
    padding: 2rem;
}

.section_2 .fr-tile--no-border {
    --border-plain-grey: none;
}

.section_2 .fr-tile__body{
    text-align: left;
}

.section_3 .section_container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.section_3 .section_elem {
    display: flex;
    padding: 40px;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border: 2px solid var(--border-open-blue-france, #E3E3FD);
}

.section_3 .section_elem.second_elem {
    align-items: center;
    align-self: stretch;
}

.section_3 .section_elem div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.section_3 .section_elem div p {
    margin: 0;
    align-self: stretch;
    color: var(--text-inverted-grey, #fff);
    font-family: Marianne;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section_3 .section_elem svg {
    min-width: 120px;
    width: 120px;
    height: 120px;
    aspect-ratio: 1/1;
}

.section_3 .section_elem .fr-artwork-minor {
    fill: var(--artwork-decorative-blue-france, #ECECFE);
}

.section_3 .section_elem .fr-artwork-major {
    fill: var(--artwork-minor-blue-france, #6A6AF4);
}

.section_3 .section_elem a {
    border: 1px solid var(--border-open-blue-france, #E3E3FD);
    background: var(--background-action-high-blue-france, #000091);
    display: flex;
    padding: 8px 12px 8px 16px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 820px){
    .section_3 .section_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
    .section_2 .note {
        width: 100%;
    }
    .trimester_tab {
       flex-direction: column;
       height: 100%;
    }
    .trimester_tab p {
        width: 100%;
    }
}