/* Defaults */
:root {
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --syntax-tab-size: 2;
}

/* Global stylesheet */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

table {
    margin: 1em 0;
}

table td,
table th {
    padding-right: 1em;
}

pre,
code {
    font-family: var(--font-family-monospace);
}

pre[class*="language-"] {
    margin-bottom: 1.5em !important;
}

pre:not([class*="language-"]) {
    margin: .5em 0;
    line-height: 1.375; /* 22px /16 */
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}

code {
    word-break: break-all;
}

.identifiants span {
    display: flex;
}

.identifiants div {
    display: flex;
    gap: 0.5rem;
    margin: 0px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    box-shadow: none;
    background-image: none;
}

.hidden {
    display: none !important;
}

/* Direct Links / Markdown Headers */
.header-anchor {
    background-image: none;
    text-decoration: none;
    font-style: normal;
    font-size: 1em;
    margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
    color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
    text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
    color: #aaa;
}

h2 + .header-anchor {
    font-size: 1.5em;
}

/* Custom DSFR */
.fr-pagination__list {
    justify-content: flex-end !important;
}

@media (min-width: 48em) {
    .fr-share__group {
        justify-content: flex-end !important;
    }
}

.fr-responsive-img.fr-ratio-auto {
    object-fit: contain;
}

.fr-quote__image img {
    object-fit: cover;
}

/** Properly render text in Markdown callout containers **/
div.fr-callout__text p {
    font-size: inherit;
    line-height: inherit;
}

/** Missing icons **/
.fr-follow .fr-btn--peertube:before,
.fr-follow .fr-btn--github:before,
.fr-follow .fr-btn--sourcehut:before {
    margin-left: 0;
    margin-right: 0.5rem;
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --icon-size: 2rem;
    content: "";
}

.fr-follow .fr-btn--peertube:before {
    -webkit-mask-image: url(/icons/logo/peertube.svg) !important;
    mask-image: url(/icons/logo/peertube.svg) !important;
}

.fr-follow .fr-btn--github:before {
    -webkit-mask-image: url(/icons/logo/github-fill.svg) !important;
    mask-image: url(/icons/logo/github-fill.svg) !important;
}

.fr-follow .fr-btn--sourcehut:before {
    -webkit-mask-image: url(/icons/logo/sourcehut.svg) !important;
    mask-image: url(/icons/logo/sourcehut.svg) !important;
}

/* Custom */
.fr-translate__btn::before {
    content: none !important;
}

/* .fr-translate__menu {
  width: max-content !important;
} */

table {
    margin: 0;
}

.c-section--gray {
  background-color: var(--background-alt-grey);
}

.frx-text--center {
    text-align: center;
}

.frx-callout--offer-root {
    height: 100%;
}

.frx-callout--offer-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 32px;
}

.frx-callout--offer-text-tagline {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.frx-callout--offer-text-list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.frx-callout--offer-text-price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.frx-icon-spin::before {
    animation: spin 2s linear infinite;
}

.frx-display--xxs {
  font-size: 2.2rem !important;
  line-height: 2.9rem !important;
  font-weight: 700 !important;
  color: var(--text-default-grey)
}

.frx-nonumber::before {
    content: "";
}

.bgContrastInfoBlue {
    background-color: var(--background-action-high-blue-france, #000091);
}

.bgContrastInfoBlue h1, .bgContrastInfoBlue p, .bgContrastInfoBlue span {
    background-color: var(--background-action-high-blue-france, #000091);
    color: var(--text-inverted-blue-france, #f5f5fe);
}

.bgContrastInfoBlue .fr-icon-mail-add-line::before,  .bgContrastInfoBlue .fr-icon-mail-close-line::before{
    --icon-size: 4rem;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: stretch;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.newsletterForm, .newsletterInfo {
    width: 50%;
}

.infoDiv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}

.infoIconDiv {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    background-color: #F5F5FE;
    color: var(--background-action-high-blue-france, #000091);
}

.infoTextDiv {
    width: 85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.infoTextDiv p {
    margin-bottom: 0;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 2rem;
}

.confirmation-container .fr-alert {
    width: 70%;
}

.confirmation-container ._container_v3pbz_48 {
    padding-top: 0;
}

.confirmation-container .fr-grid-row {
    gap: 2rem;
}

.confirmation-container .fr-col-12 {
    border: solid 1px #ddd;
}

.confirmation-container .blue {
    background-color: var(--background-action-high-blue-france, #000091);
    color: white;
}

.confirmation-container .fr-tile {
    padding-bottom: 0;
    text-align: left;
}

.confirmation-container .fr-tile__title {
    color: var(--background-action-high-blue-france, #000091);
    width: 100%;
}
.confirmation-container .blue .fr-tile__title {
    color: white;
}

.confirmation-container .fr-tile__desc p {
    font-weight: lighter;
}

.fr-tile__link{
    order: 4;
    margin-top: 2rem;
    font-weight: lighter;
    width: 100%;
    color: var(--background-action-high-blue-france, #000091);
}

.confirmation-container .blue .fr-tile__link {
    color: white;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 768px){
    .newsletter-container {
        flex-direction: column;
    }
}

@media (min-width: 78em) {
  .text-right-xl {
    text-align: right !important;
  }
}
@media (min-width: 48em) {
  .frx-display--xxs {
    font-size: 2.4rem !important;
    line-height: 3.1rem !important;
  }
}

/* Header */
.custom-center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.custom-center-btn.fr-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fr-menu__list {
    min-width: 288px;
}

@media (min-width: 62em) {
  .fr-menu .fr-nav__link {
      box-shadow: inset 0 1px 0 0 var(--border-default-grey);
  }
}