.bgContrastInfoGrey {
    background-color: var(--background-contrast-info, #e8edff);
}

._container_v3pbz_48 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem !important;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}

._iconLg_v3pbz_73, ._iconLg_v3pbz_73:before {
    width: 2.5rem;
    height: 2.5rem;
}

._icon_v3pbz_65, ._icon_v3pbz_65:before {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1 / 1;
    color: var(--text-title-grey, #161616);
}

._heroImage_v3pbz_56 {
    max-width: 100%;
    height: auto;
}

._featureRowWrapper_v3pbz_128 {
    --hr-gap: 1rem;
}

._featureRow_v3pbz_128 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

._bgAltGrey_v3pbz_9 {
    background-color: var(--background-alt-grey, #f6f6f6);
}

._illustrationImg_v3pbz_79 {
    width: 100%;
    height: auto;
}

.bgOpenBlueFrance {
    background: var(--background-open-blue-france, #e3e3fd);
}

._container_v3pbz_48 .fr-tile--no-border {
    --border-plain-grey: none;
}

.bgDefaultGrey {
    background-color: var(--background-default-grey, #fff);
}

.usageCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.usageCardImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem !important;
    overflow: hidden;
}

.usageCardCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .75rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 1rem !important;
}

.usageCardCol * {
    margin: 0;
}

.textMentionGrey, .textMentionGrey * {
    color: var(--text-mention-grey, #6f6f6f);
}

.usageCardImg img {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bgActionHighBlueFrance {
    background: var(--background-action-high-blue-france, #000091);
}

.textInvertedBlueFrance, .textInvertedBlueFrance * {
    color: var(--text-inverted-blue-france, #f5f5fe) !important;
}

.textDefaultGrey, .textDefaultGrey * {
    color: var(--text-default-grey, #3a3a3a) !important;
}

._equalHeightCol_v3pbz_88 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.borderDefaultGrey {
    border: 2px solid var(--border-default-grey, #ddd);
}

.fr-icon-accroche-option:before {
    content: url(data:image/svg+xml,%3csvg%20xmlns=\'http://www.w3.org/2000/svg\'%20width=\'35\'%20height=\'34\'%20viewBox=\'0%200%2035%2034\'%20fill=\'none\'%3e%3cpath%20d=\'M13.3333%2013.3333H30V17.9667H33.3333V11.6667C33.3333%2010.75%2032.5833%2010%2031.6667%2010H23.3333V1.66667C23.3333%200.75%2022.5833%200%2021.6667%200H1.66667C0.75%200%200%200.75%200%201.66667V21.6667C0%2022.5833%200.75%2023.3333%201.66667%2023.3333H10V31.6667C10%2032.5833%2010.75%2033.3333%2011.6667%2033.3333H20V30H13.3333V13.3333ZM10%2011.6667V20H3.33333V3.33333H20V10H11.6667C10.75%2010%2010%2010.75%2010%2011.6667Z\'%20fill=\'%23161616\'%20/%3e%3cpath%20d=\'M29.5292%2031.8875L29.1125%2032.8375C28.8125%2033.5208%2027.8625%2033.5208%2027.5625%2032.8375L27.1458%2031.8875C26.4125%2030.2042%2025.0958%2028.8708%2023.4458%2028.1375L22.1792%2027.5708C21.4958%2027.2708%2021.4958%2026.2708%2022.1792%2025.9708L23.3792%2025.4375C25.0625%2024.6875%2026.4125%2023.3042%2027.1292%2021.5542L27.5458%2020.5375C27.8458%2019.8208%2028.8125%2019.8208%2029.1125%2020.5375L29.5292%2021.5542C30.2458%2023.2875%2031.5958%2024.6875%2033.2792%2025.4375L34.4792%2025.9708C35.1625%2026.2708%2035.1625%2027.2708%2034.4792%2027.5708L33.2125%2028.1375C31.5625%2028.8708%2030.2458%2030.2042%2029.5125%2031.8875H29.5292Z\'%20fill=\'%23161616\'%20/%3e%3c/svg%3e);
    background-color: unset !important;
}

@media screen and (min-width: 768px) {
    ._container_v3pbz_48 {
        gap: 2.5rem !important;
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
    
    .usageCard {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row!important;
        flex-direction: row !important;
    }

    .usageCardCol, .usageCardImg {
        margin: 1.5rem !important;
    }

    .usageCard:nth-child(odd) {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse!important;
        flex-direction: row-reverse !important;
    }
}

@media screen and (min-width: 992px) {
    ._featureRowWrapper_v3pbz_128 {
        --hr-gap: 2.5rem;
    }

    ._featureRow_v3pbz_128 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 1.5rem;
    }

    ._featureRow_v3pbz_128 h3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
        flex: 0 0 20rem;
    }

    .usageCardCol, .usageCardImg {
        margin: 2.5rem !important;
    }

}

@media screen and (min-width: 1248px) {
    ._featureRow_v3pbz_128 {
        gap: 2.5rem;
    }

    ._featureRow_v3pbz_128 h3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25rem;
        flex: 0 0 25rem;
    }
}