<dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" title="{{ "Fermer" }}">
              {{ "Fermer" }}
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title"> {{ "Paramètres d'affichage" }} </h1>
            <div id="fr-display" class="fr-display">
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend fr-text--regular" id="-legend">
                    {{ "Choisissez un thème pour personnaliser l'apparence du site." }}
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-light"> {{ "Thème clair" }} </label>
                      <div class="fr-radio-rich__img">
                        <svg xmlns="http://www.w3.org/2000/svg" class="fr-artwork" width="80px"
                             height="80px" viewBox="0 0 80 80">
                          <use class="fr-artwork-decorative"
                               xlink:href="{{ "/artwork/light.svg" | htmlBaseUrl }}#artwork-decorative"></use>
                          <use class="fr-artwork-minor"
                               xlink:href="{{ "/artwork/light.svg" | htmlBaseUrl }}#artwork-minor"></use>
                          <use class="fr-artwork-major"
                               xlink:href="{{ "/artwork/light.svg" | htmlBaseUrl }}#artwork-major"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-dark"> {{ "Thème sombre" }} </label>
                      <div class="fr-radio-rich__img">
                        <svg xmlns="http://www.w3.org/2000/svg" class="fr-artwork" width="80px"
                             height="80px" viewBox="0 0 80 80">
                          <use class="fr-artwork-decorative"
                               xlink:href="{{ "/artwork/dark.svg" | htmlBaseUrl }}#artwork-decorative"></use>
                          <use class="fr-artwork-minor"
                               xlink:href="{{ "/artwork/dark.svg" | htmlBaseUrl }}#artwork-minor"></use>
                          <use class="fr-artwork-major"
                               xlink:href="{{ "/artwork/dark.svg" | htmlBaseUrl }}#artwork-major"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-system">
                        {{ "Système" }}
                        <span class="fr-hint-text">{{ "Utilise les paramètres système." }}</span>
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg xmlns="http://www.w3.org/2000/svg" class="fr-artwork" width="80px"
                             height="80px" viewBox="0 0 80 80">
                          <use class="fr-artwork-decorative"
                               xlink:href="{{ "/artwork/system.svg" | htmlBaseUrl }}#artwork-decorative"></use>
                          <use class="fr-artwork-minor"
                               xlink:href="{{ "/artwork/system.svg" | htmlBaseUrl }}#artwork-minor"></use>
                          <use class="fr-artwork-major"
                               xlink:href="{{ "/artwork/system.svg" | htmlBaseUrl }}#artwork-major"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<dialog id="fr-consent-modal" class="fr-modal" role="dialog" aria-labelledby="fr-consent-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
        <div class="fr-modal__body fr-scroll-divider" data-fr-js-modal-body="true" style="--modal-max-height: 454px;">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" title="Fermer" aria-controls="fr-consent-modal" type="button" data-fr-js-modal-button="true">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-modal-title-fr-consent-modal" class="fr-modal__title">Panneau de gestion des cookies</h1>
            <div>
              <div class="fr-consent-service fr-consent-manager__header">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                  <legend class="fr-consent-service__title">Préférences pour tous les services.<br><a href="/donnees-personnelles">Données personnelles et cookies</a></legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                      <button id="fr-consent-modal-button-accept-all" title="Autoriser tous les cookies" class="fr-btn" data-fr-js-button-actionee="true">Tout accepter</button>
                      <button id="fr-consent-modal-button-refuse-all" title="Refuser tous les cookies" class="fr-btn fr-btn--secondary" data-fr-js-button-actionee="true">Tout refuser</button>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="fr-consent-service">
                <fieldset aria-labelledby="finality-:r2q:-legend finality-:r2q:-desc" role="group" class="fr-fieldset">
                  <legend id="finality-:r2q:-legend" class="fr-consent-service__title">Cookies obligatoires</legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-radio-group">
                      <input type="radio" id="consent-finality-:r2q:-accept" disabled="" checked="" data-fr-js-radio-actionee="true"/>
                      <label class="fr-label" for="consent-finality-:r2q:-accept">Accepter</label>
                    </div>
                    <div class="fr-radio-group">
                      <input type="radio" id="consent-finality-:r2q:-refuse" disabled="" data-fr-js-radio-actionee="true"/>
                      <label class="fr-label" for="consent-finality-:r2q:-refuse">Refuser</label>
                    </div>
                  </div>
                  <p class="fr-consent-service__desc">Ce site utilise des cookies nécessaires à son bon fonctionnement qui ne peuvent pas être désactivés.</p>
                </fieldset>
              </div>
              <div class="fr-consent-service">
                <fieldset aria-labelledby="finality-:r2r:-legend finality-:r2r:-desc" role="group" class="fr-fieldset">
                  <legend id="finality-:r2r:-legend" class="fr-consent-service__title">Eulerian Analytics</legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-radio-group">
                      <input type="radio" id="consent-finality-:r2r:-accept" checked=true data-fr-js-radio-actionee="true" name="fr-radio-consent"/>
                      <label class="fr-label" for="consent-finality-:r2r:-accept">Accepter</label>
                    </div>
                    <div class="fr-radio-group">
                      <input type="radio" id="consent-finality-:r2r:-refuse" data-fr-js-radio-actionee="true" name="fr-radio-consent"/>
                      <label class="fr-label" for="consent-finality-:r2r:-refuse">Refuser</label>
                    </div>
                  </div>
                  <p class="fr-consent-service__desc">En cliquant sur 'Accepter', vous consentez à l'utilisation des cookies pour nous aider à améliorer notre site web en collectant et en rapportant des informations sur votre utilisation grâce à Eulerian Analytics. Si vous n'êtes pas d'accord, veuillez cliquer sur 'Refuser'. Votre expérience de navigation ne sera pas affectée.</p>
                </fieldset>
              </div>
              <ul class="fr-consent-manager__buttons fr-btns-group fr-btns-group--right fr-btns-group--inline-sm">
                <li>
                  <button id="fr-consent-modal-button-confirm" class="fr-btn" data-fr-js-button-actionee="true">Confirmer mes choix</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
