<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>
                                française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img class="fr-responsive-img" style="max-width: 3.5rem;" srcset="/img/header/cartes-gouv-logo.svg" alt="" data-fr-js-ratio="true">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn fr-icon-search-line"
                                    data-fr-opened="false" 
                                    aria-controls="modal-474" 
                                    aria-haspopup="dialog"
                                    id="button-475"
                                    title="{{ "search" }}">{{ "search" }}</button>
                            <button class="fr-btn--menu fr-btn"
                                    data-fr-opened="false"
                                    aria-controls="modal-491"
                                    aria-haspopup="menu"
                                    id="button-492"
                                    title="{{ "menu" }}">{{ "menu" }}</button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ "/decouvrir"  }}" title="{{ "home" }} - {{ metadata.description }} - {{ metadata.title }}">
                            <p class="fr-header__service-title">
                                {{ metadata.title }}
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ metadata.description }}</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <div class="fr-translate fr-nav">
                                    <div class="fr-nav__item">
                                        <button aria-controls="aide-collapse" aria-expanded="false" title="Aide" class="fr-translate__btn fr-btn fr-px-2w">
                                            <span class="fr-icon-question-fill fr-icon--sm fr-mr-1w" aria-hidden="true"></span>Aide
                                        </button>
                                        <div class="fr-collapse fr-translate__menu fr-menu headerMenu" id="aide-collapse">
                                            <ul class="fr-menu__list">
                                                <li>
                                                    <a href="https://cartes.gouv.fr/aide/" target="_blank" title="Questions fréquentes - ouvre une nouvelle fenêtre" class="fr-nav__link fr-mr-3w"><span class="fr-icon--sm fr-icon-question-mark"></span>Questions fréquentes</a>
                                                </li>
                                                <li>
                                                    <a href="https://cartes.gouv.fr/aide/fr/guides-producteur/" target="_blank" title="Guide d'utilisation - ouvre une nouvelle fenêtre" class="fr-nav__link fr-mr-3w"><span class="fr-icon--sm fr-icon-book-2-line"></span>Guide d'utilisation</a>
                                                </li>
                                                <li>
                                                    <a href="https://cartes.gouv.fr/aide/fr/nous-ecrire/" target="_blank" title="Nous contacter - ouvre une nouvelle fenêtre" class="fr-nav__link fr-mr-3w"><span class="fr-icon--sm fr-icon-mail-line"></span>Nous contacter</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="fr-translate fr-nav">
                                    <div class="fr-nav__item">
                                        <button aria-controls="services-collapse" aria-expanded="false" title="Services" class="fr-translate__btn fr-btn fr-px-2w">
                                            <span class="fr-icon-grid-fill fr-icon--sm fr-mr-1w" aria-hidden="true"></span>Services
                                        </button>
                                        <div class="fr-collapse fr-translate__menu fr-menu headerMenu" id="services-collapse">
                                            <ul class="fr-menu__list">
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/explorer-les-cartes/">
                                                        <span class="fr-icon-road-map-line fr-icon--sm">Explorer les cartes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/rechercher-une-donnee/search">
                                                        <span class="fr-icon-search-line fr-icon--sm ">Rechercher une données</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/publier-une-donnee">
                                                        <span class="fr-icon-database-line fr-icon--sm ">Publier une donnée</span>
                                                    </a>
                                                </li>
                                                <a href="/decouvrir" target="_blank" title="Découvrir cartes.gouv - ouvre une nouvelle fenêtre" id="fr-button-:r34:" class="fr-btn fr-btn--tertiary fr-btn--sm headerMenu-actionButton fr-m-4v" data-fr-js-button-actionee="true" data-fr-js-header-tools-button-actionee="true">Découvrir cartes.gouv.fr</a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="isNotLogged">
                                <a href="https://cartes.gouv.fr/login" id="fr-button-:r1n:" class="fr-btn fr-icon-account-fill fr-btn--icon-left" data-fr-js-button-actionee="true" data-fr-js-header-tools-button-actionee="true">Se connecter</a>
                            </li>
                            <li id="isLogged" class="hidden">
                                <div class="fr-translate fr-nav">
                                    <div class="fr-nav__item fr-nav__item--align-right">
                                        <button aria-controls="mon-espace-collapse" aria-expanded="false" title="Mon espace" class="fr-translate__btn fr-btn fr-px-2w">
                                            <span class="fr-icon--sm fr-icon-account-fill fr-mr-1w" aria-hidden="true"></span>Mon espace
                                        </button>
                                        <div class="fr-collapse fr-translate__menu fr-menu headerMenu" id="mon-espace-collapse">
                                            <ul class="fr-menu__list">
                                                <li class="identifiants">
                                                    <span class="fr-text--sm">
                                                        <div style="display: flex; flex-direction: column;">
                                                            <strong id="user-name">a</strong><span id="user-mail" class="fr-text--xs fr-m-0" style="color: var(--text-mention-grey);">a@ign.fr</span>
                                                        </div>
                                                    </span>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/tableau-de-bord">
                                                        <span class="fr-icon-dashboard-3-line fr-icon--sm">Tableau de bord</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="fr-nav__link fr-mr-3w" href="https://cartes.gouv.fr/mon-compte">
                                                        <span class="fr-icon-user-line fr-icon--sm ">Mon compte</span>
                                                    </a>
                                                </li>
                                                <a href="https://cartes.gouv.fr/logout" target="_blank" title="Découvrir cartes.gouv - ouvre une nouvelle fenêtre" id="fr-button-:r34:" class="fr-btn fr-btn--tertiary fr-btn--sm headerMenu-actionButton fr-m-4v" data-fr-js-button-actionee="true" data-fr-js-header-tools-button-actionee="true">Se déconnecter</a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal"
         id="modal-491"
         aria-labelledby="button-492">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn"
                    aria-controls="modal-491"
                    title="{{ "close" }}">{{ "close" }}</button>
            <div class="fr-header__menu-links"></div>
            {% include "templates/navigation.njk" %}
        </div>
    </div>
</header>
