---
title: Le service public des cartes et données du territoire
layout: layouts/home.njk
---

{% from "components/component.njk" import component with context %}

<div class="fr-mb-4v"></div>
<div className="c-section">
  <div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-7">
        <p class="fr-mt-4w fr-mt-md-7w frx-display--xxs">{{ title }}</p>
        <p class="fr-text--lg fr-pr-10v">Déposez et diffusez vos données géographiques en toute autonomie, c’est simple grâce aux outils de cartes.gouv.fr</p>
        <ul>
          <li>Je dépose ma donnée et configure mon service</li>
          <li>Je publie dans le catalogue</li>
          <li>Je visualise sur une carte</li>
        </ul>
        <ul id="fr-btns-group-:rr:" class="fr-btns-group fr-btns-group--inline fr-btns-group--equisized fr-btns-group--left fr-btns-group--icon-left fr-mt-2w" data-fr-js-equisizeds-group="true" style="--equisized-width: 221.5166778564453px;">
          <li>
            <a href="https://cartes.gouv.fr/tableau-de-bord" id="fr-button-:rs:" class="fr-btn fr-icon-cursor-line fr-btn--icon-left" data-fr-js-equisized="true" data-fr-js-button-actionee="true">Je dépose ma donnée</a>
          </li>
          <li>
            <a href="https://cartes.gouv.fr/catalogue" id="fr-button-:rt:" class="fr-btn fr-btn--secondary fr-icon-file-download-line fr-btn--icon-left" data-fr-js-equisized="true" data-fr-js-button-actionee="true">J’accède au catalogue</a>
          </li>
        </ul>
      </div>
      <div class="fr-col-12 fr-col-lg-5 fr-pb-4w fr-pl-md-8w fr-pr-md-2w fr-mt-4w">
        <figure
            class="fr-content-media fr-mt-0 fr-mb-0"
            role="group"
            aria-label="Carte des grandes régions écologiques (GRECO), IGN - 2023"
        >
          <div class="fr-content-media__img">
              <img
                  class="fr-responsive-img fr-ratio-1x1"
                  src="/img/accueil/home-GjBRcItg.png"
                  alt=""
                  role="presentation"
                  data-fr-js-ratio="true"
              />
          </div>
          <figcaption class="fr-content-media__caption">
              Source : Carte des grandes régions écologiques (GRECO), IGN - 2023
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
      <div class="fr-col-10">
        <div id="fr-callout-:ru" class="fr-callout fr-callout--blue-cumulus">
          <p class="fr-callout__text">Le site ne cesse de s’enrichir de nouveaux services en s’appuyant sur les besoins et attentes des utilisateurs, n’hésitez pas à nous faire part de vos retours d’expérience en rejoignant <a href="https://www.ign.fr/geoplateforme/rejoindre-la-communaute" target="_blank" rel="noreferrer" title="Rejoindre la communauté Géoplateforme - ouvre une nouvelle fenêtre">la communauté Géoplateforme</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fr-container--fluid fr-mt-8v fr-pb-3v fr-mt-md-10v fr-mb-2v fr-mb-md-8v">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-px-md-8w">
    <div class="fr-col-12">
      <h2 class="fr-my-5w frx-text--center">Ce que vous pouvez faire avec cartes.gouv.fr</h2>
      <p class="fr-my-5w frx-text--center">
        La première bêta publique de <strong>cartes.gouv.fr</strong> est désormais disponible. En tant que premiers utilisateurs, vous
        pouvez participer à l’amélioration des fonctionnalités (catalogue, alimentation/diffusion) en testant les pré-versions et en nous
        transmettant vos commentaires.
      </p>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            url: "https://cartes.gouv.fr/tableau-de-bord",
            title: "Stockez, traitez et partagez vos données",
            beta: true,
            badge: "DISPONIBLE EN BÊTA",
            description: "En toute autonomie, selon la diffusion de votre choix depuis cartes.gouv.fr et sur vos sites et applis.",
            pictogram: "system.svg",
            enlarge_link: true
        }) }}
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            url: "https://cartes.gouv.fr/catalogue",
            title: "Consultez et utilisez des géodonnées",
            beta: true,
            badge: "DISPONIBLE EN BÊTA",
            description: "Grâce au catalogue et aux cartes en ligne, grâce aux services et données de la communauté Géoplateforme.",
            pictogram: "map.svg",
            enlarge_link: true
        }) }}
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            title: "Gérez et animez vos communautés",
            beta: false,
            badge: "INTÉGRÉ EN 2025",
            description: "Via des guichets collaboratifs pour entretenir et enrichir les données.",
            pictogram: "human-cooperation.svg",
            href: "espacecollaboratif.ign.fr"
        }) }}
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            title: "Créez des cartes",
            beta: false,
            badge: "INTÉGRÉ EN 2025",
            description: "Grâce aux outils de traitement, de datavisualisation, de création et habillage de cartes et, à terme de création et habillage de portails cartographiques personnalisés.",
            pictogram: "location-france.svg",
            href: "macarte.ign.fr"
        }) }}
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            title: "Ajoutez de nouvelles fonctionnalités",
            beta: false,
            badge: "INTÉGRÉ EN 2025",
            description: "Grâce aux outils mis à disposition et en appui sur l’usine logicielle de la Géoplateforme, enrichissez l’offre de service de la Géoplateforme.",
            pictogram: "data-visualization.svg"
        }) }}
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        {{ component("tile", {
            title: "Partagez des fonds de carte facilement",
            beta: false,
            badge: "INTÉGRÉ EN 2025",
            description: "Grâce à cette fonctionnalité, les développeurs peuvent partager facilement des fonds de carte, simplifiant ainsi la collaboration et l’accès aux données cartographiques.",
            pictogram: "location-france.svg"
        }) }}
    </div>
  </div>
</div>

<div class="c-section c-section--gray fr-py-5w">
  <div class="fr-container--fluid">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-px-0 fr-px-md-14v">
          <p class="fr-text--lg">Avec cette version bêta, <strong>cartes.gouv.fr</strong> reprend de premières fonctionnalités des sites Géoservices et Géoportail ainsi que de premiers outils pour la gestion des données par les acteurs publics. Il s’enrichira progressivement de fonctionnalités nouvelles au bénéfice de tous.</p>
          <p class="fr-text--lg"><strong>Cartes.gouv.fr</strong> s’appuie sur une nouvelle infrastructure ouverte et collaborative, la Géoplateforme, soutenue par le Ministère de la Transition écologique et de la Cohésion des territoires ainsi que par le Fonds de transformation de l’action publique.</p>
          <p class="fr-text--lg"><a href="https://geoservices.ign.fr" target="_blank" rel="noreferrer" title="geoservices.ign.fr - ouvre une nouvelle fenêtre">Géoservices</a> et <a href="https://www.geoportail.gouv.fr" target="_blank" rel="noreferrer" title="geoportail.gouv.fr - ouvre une nouvelle fenêtre"> Géoportail</a> restent en activité le temps que leurs fonctionnalités soient reprises dans cartes.gouv.fr.</p>
          <p class="fr-text--lg">Pour en savoir + sur <strong>cartes.gouv.fr</strong>, <a href="https://www.ign.fr/geoplateforme/rejoindre-la-communaute" target="_blank" rel="noreferrer" title="Rejoindre la communauté Géoplateforme - ouvre une nouvelle fenêtre"> rejoignez la communauté Géoplateforme</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
