---
title: Rechercher une donnée
layout: layouts/home.njk
eleventyNavigation:
    key: Rechercher une donnée
    parent: Services
    permalink: "rechercher-une-donnee"
    nav: main
---

{% from "components/component.njk" import component with context %}

<div class="_bgContrastInfoGrey_v3pbz_1">
    <div class="fr-container _container_v3pbz_48">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6 fr-col--middle">
                <span class="fr-icon-search-line _icon_v3pbz_65 _iconLg_v3pbz_73"></span>
                <h1 class="fr-mt-4v fr-mb-2v">Rechercher une donnée</h1>
                <p class="fr-text--lead fr-mb-6v">Filtrez, téléchargez et exploitez des données</p>
                <a href="https://cartes.gouv.fr/rechercher-une-donnee" id="fr-button-:r1h:" class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" data-fr-js-button-actionee="true">Accédez au service</a>
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <img eleventy:widths="400, 800, 1200" srcset="/img/rechercher-une-donnee/service-rechercher-big.webp, /img/rechercher-une-donnee/service-rechercher-big.png" alt="" class="_heroImage_v3pbz_56">
            </div>
        </div>
    </div>
</div>

<div class="fr-container _container_v3pbz_48">
    <h2 class="fr-m-0">Ce que vous pouvez faire</h2>
    <div class="_featureRowWrapper_v3pbz_128">
        <div class="_featureRow_v3pbz_128">
            {{ component("row", {
                iconClass: "fr-icon-search-line",
                title: "Recherchez une ressource",
                content: '<p class="fr-text--lg fr-mb-3v">Le moteur de recherche vous permet d’accéder à toutes les ressources publiques des producteurs et fournisseurs institutionnels comme l’IGN, la DGFIP, l’ONF, et bien d’autres. Vous pouvez filtrer votre recherche par&nbsp;:</p>
                        <ul>
                            <li>Type de ressource : donnée, service ou réutilisation</li>
                            <li>Thème : agriculture, environnement, hydrographie, télécommunications...</li>
                            <li>Producteur</li>
                            <li>Date de mise à jour</li>
                        </ul>
                        <p class="fr-text--xs fr-m-0 _textMentionGrey_v3pbz_35">Filtrez avec “Plus Récent” pour voir les dernières mises à jour de vos données favorites.</p>'
            })
            }}
        </div>
        <hr>
        <div class="_featureRow_v3pbz_128">
            {{ component("row", {
                iconClass: "fr-icon-file-text-line",
                title: "Consultez des fiches complètes pour chaque jeu de données",
                content: '<p class="fr-text--lg fr-mb-3v">Chaque jeu de données dispose d’une fiche détaillée comprenant&nbsp;:</p>
                          <ul>
                            <li>Description et contexte</li>
                            <li>Producteur et son contact</li>
                            <li>Dates clés de production et de mise à jour</li>
                            <li>Mots-clés et thématiques</li>
                            <li>Aperçu de la donnée sur fonds cartographique</li>
                            <li>Accès aux ressources</li>
                            <li>Téléchargement (formats SIG, tableurs, etc.)</li>
                            <li>Flux standardisés (WMS, WMTS, WFS, TMS)</li>
                            <li>API, lorsque proposées par le producteur</li>
                            <li>Liens annexes et documents joints</li>
                          </ul>
                          <p class="fr-text--xs fr-m-0 _textMentionGrey_v3pbz_35">Évaluez immédiatement la qualité, l’actualité et les modalités d’usage de la donnée.</p>'
                })
            }}
        </div>
        <hr>
        <div class="_featureRow_v3pbz_128">
            {{ component("row", {
                iconClass: "fr-icon-download-line",
                title: "Utilisez la donnée en la téléchargeant ou via les flux et APIs",
                content: '<p class="fr-text--lg fr-mb-3v">Téléchargez une grande variété de données dans des formats compatibles avec vos outils métiers (SIG, tableurs, traitements spécialisés).<br>Vous pouvez également exploiter les données sous formes de flux standardisés (WMS, WMTS, WFS, TMS), ce qui facilite leur intégration dans vos outils métiers et portails cartographiques.</p>
                          <p class="fr-text--lg fr-mb-3v">Lorsque que vous récupérez les données, vous pouvez filtrer par territoire ou via une interface dédiée, afin de ne récupérer que ce qui est essentiel.</p>
                          <p class="fr-text--xs fr-m-0 _textMentionGrey_v3pbz_35">Récupérez les données du Lidar MNT en sélectionnant uniquement les dalles sur votre territoire.</p>'
                })
            }}
        </div>
    </div>
</div>

<div class="_bgAltGrey_v3pbz_9">
    <div class="fr-container _container_v3pbz_48">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-10 fr-col-offset-md-1">
                <img eleventy:widths="400, 800, 1200" srcset="/img/rechercher-une-donnee/illustration-rechercher-donnee.webp, /img/rechercher-une-donnee/illustration-rechercher-donnee.png" alt="illustration" class="_illustrationImg_v3pbz_79">
            </div>
        </div>
    </div>
</div>

<div class="_bgOpenBlueFrance_v3pbz_13">
    <div class="fr-container _container_v3pbz_48">
        <h2 class="fr-m-0">Les avantages</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md">
                {{ component("tile", {
                        addTitleClass: "_tileNoBorder_v3pbz_84",
                        title: "Un accès centralisé aux données géographiques publiques",
                        description: "Retrouvez en un seul endroit les données, services et réutilisations issues des producteurs institutionnels, sans avoir à multiplier les sources."
                    }) 
                }}
            </div>
            <div class="fr-col-12 fr-col-md">
                {{ component("tile", {
                        addTitleClass: "_tileNoBorder_v3pbz_84",
                        title: "Une transparence sur la qualité et l’origine des données",
                        description: "Chaque ressource est accompagnée de métadonnées détaillées : producteur, mise à jour, méthodes, limites d’usage et conditions d’accès."
                    }) 
                }}
            </div>
            <div class="fr-col-12 fr-col-md">
                {{ component("tile", {
                        addTitleClass: "_tileNoBorder_v3pbz_84",
                        title: "Des téléchargements adaptés à vos besoins",
                        description: "Accédez aux données par millésime, format ou territoire pour ne récupérer que ce qui est utile à vos analyses."
                    }) 
                }}
            </div>
            <div class="fr-col-12 fr-col-md">
                {{ component("tile", {
                        addTitleClass: "_tileNoBorder_v3pbz_84",
                        title: "Une intégration simplifiée grâce aux flux et APIs",
                        description: "Les services standardisés (WMS, WMTS, WFS, APIs) facilitent l’usage des données dans vos SIG, sites web ou outils métiers, avec des mises à jour automatiques."
                    }) 
                }}
            </div>
        </div>
    </div>
</div>

<div class="_bgAltGrey_v3pbz_9">
    <div class="fr-container _container_v3pbz_48">
        <h2 class="fr-m-0">Adapté à vos usages</h2>
        {{ component("usage_card", {
                srcset: "/img/rechercher-une-donnee/telechargez-bdtopo.webp, /img/rechercher-une-donnee/telechargez-bdtopo.png",
                imgWidths: "400, 600",
                content: '<h3 class="fr-h4">Téléchargez la dernière version de la BD TOPO® pour un usage SIG</h3>
                          <p class="fr-text--xs _textMentionGrey_v3pbz_35">Trouvez rapidement la BD TOPO® actualisée et téléchargez-la dans le format SIG adapté</p>
                          <p>Urbaniste, géomaticien, recherchez « BD TOPO » et utilisez-la immédiatement dans vos projets d’analyse ou d’aménagement.</p>
                          <p>→ Accédez à la fiche du jeu de données et à un aperçu cartographique des différents thèmes</p>
                          <p>→ Vérifiez la date de mise à jour</p>
                          <p>→ Sélectionnez le téléchargement qui vous convient (zone, thème, projection, millésime)</p>
                          <p>→ Choisissez le format (gpkg, shp, sql) pour une intégration optimale dans votre SIG </p>'
            }) 
        }}
        {{ component("usage_card", {
                srcset: "/img/rechercher-une-donnee/donnees-cadastrales.webp, /img/rechercher-une-donnee/donnees-cadastrales.png",
                imgWidths: "400, 600",
                content: '<h3 class="fr-h4">Récupérez les données cadastrales pour un projet foncier</h3>
                          <p class="fr-text--xs _textMentionGrey_v3pbz_35">Localisez et exploitez les données cadastrales nécessaires à une étude foncière</p>
                          <p>Pour une mission d’aménagement, votre bureau d’étude peut rechercher le Parcellaire Express (PCI)&nbsp;:</p>
                          <p>→ Consultez sa fiche (producteur, point de contact, date de mise à jour)</p>
                          <p>→ Visualisez la donnée sur fonds cartographiques</p>
                          <p>→ Téléchargez les fichiers cadastraux (emprise départementale)</p>
                          <p>→ Intégrez directement les flux (WMS/WFS/TMS/WMTS) dans votre projet afin d’en simplifier les mises à jour régulières</p>'
            }) 
        }}
        {{ component("usage_card", {
                srcset: "/img/rechercher-une-donnee/explorez-donnees-environnement.webp, /img/rechercher-une-donnee/explorez-donnees-environnement.png",
                imgWidths: "400, 600",
                content: '<h3 class="fr-h4">Explorez les données environnementales (habitats, forêts, eau…)</h3>
                          <p class="fr-text--xs _textMentionGrey_v3pbz_35">Identifiez rapidement des données par thème (environnement, eau…) pour une analyse thématique</p>
                          <p>Collectivité, bureau de biodiversité ou chef de projet environnement, filtrez avec le thème « Environnement » pour accéder aux données de l’ONF, des DREAL et DDT</p>
                          <p>→ Les fiches fournissent les métadonnées complètes, les cartes d’aperçu et les conditions d’accès </p>
                          <p>→ Les flux OGC permettent une intégration et visualisation instantanée dans vos outils</p>
                          <p>→ Les téléchargements facilitent des analyses approfondies sur le carbone, les continuités écologiques ou la qualité des milieux aquatiques</p>'
            }) 
        }}
        {{ component("usage_card", {
                srcset: "/img/rechercher-une-donnee/alimentez-flux-carto.webp, /img/rechercher-une-donnee/alimentez-flux-carto.png",
                imgWidths: "400, 600",
                content: '<h3 class="fr-h4">Alimentez un portail cartographique grâce aux flux et APIs</h3>
                          <p class="fr-text--xs _textMentionGrey_v3pbz_35">Intégrez des services de visualisation ou d’interrogation directement dans un portail interne</p>
                          <p>Intégrez bien plus que des données dans vos outils métiers et portails géographiques. Enrichissez-les avec d’autres services tels que ceux de géocodage, de calcul d’itinéraire ou encore d’altimétrie. Simples à configurer, ils s’appuient sur des ressources mises à jour régulièrement sans intervention manuelle.</p>'
            }) 
        }}
    </div>
</div>

<div class="_bgActionHighBlueFrance_v3pbz_17 _textInvertedBlueFrance_v3pbz_21">
    <div class="fr-container _container_v3pbz_48">
        <h2 class="fr-m-0">Pour aller plus loin</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md fr-mx-4v fr-mr-10v fr-p-md-10v fr-col--middle _bgContrastInfoGrey_v3pbz_1 _textDefaultGrey_v3pbz_26 _equalHeightCol_v3pbz_88">
                <p class="fr-text--lg">Consultez notre documentation pour apprendre à utiliser notre service, pas à pas, jusqu’à maîtriser les fonctionnalités plus avancées.</p>
                <a href="https://cartes.gouv.fr/aide/fr/guides-utilisateur/rechercher-une-donnee/generalites-catalogue/" target="_blank" title="Ouvre une nouvelle fenêtre" id="fr-button-:r24:" class="fr-btn fr-btn--secondary _textActionHighBlueFrance_v3pbz_31" data-fr-js-button-actionee="true">Consulter la documentation</a>
            </div>
            <div class="fr-col-12 fr-col-md fr-mx-4v fr-p-md-10v fr-col--middle _borderDefaultGrey_v3pbz_44 _equalHeightCol_v3pbz_88">
                <p class="fr-text--lg">Rejoignez une communauté d’utilisateurs et de contributeurs pour échanger, partager vos retours et construire ensemble les services cartographiques de demain.</p>
                <a href="/nous-rejoindre" id="fr-button-:r25:" class="fr-btn" data-fr-js-button-actionee="true">Rejoindre la communauté</a>
            </div>
        </div>
    </div>
</div>