{% if not card %}{% set card = params %}{% endif %}
<div class="fr-card fr-card--no-border {{ card.addClass }}">
  <div class="fr-card__body {{card.addBodyClass}}">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        {% if card.url %}
          <a href="{{ card.url }}">
            {{ card.title }}
          </a>
        {% else %}
          {{card.title}}
        {% endif %}
      </h3>
      {% if card.description %}
        <p class="fr-card__desc">{{card.description}}</p>
      {% endif %}
      <div class="fr-card__start">
        {% if card.tags %}
          {% set tags = card.tags %}
          {% include "components/taggroup-disabled.njk" %}
        {% endif %}
        {% if card.date %}
          <p class="fr-card__detail fr-icon-time-fill">
            <time class="postlist-date" datetime="{{ card.date | htmlDateString }}">
              {{ card.date | readableDate }}
            </time>
          </p>
          {% elif card.detail %}
          <p class="fr-card__detail">{{ card.detail | safe }}</p>
        {% endif %}
      </div>
      {% if card.detailEnd %}
        <div class="fr-card__end">
          <p class="fr-card__detail">{{ card.detailEnd | safe }}</p>
        </div>
      {% endif %}
    </div>
    <div class="fr-card__footer">
    </div>
  </div>
  {% if card.badges or card.image %}
    <div class="fr-card__header">
      {% if card.badges %}
        <ul class="fr-badges-group">
          {% for badge in card.badges %}
            <li><p class="fr-badge fr-badge--green-emeraude">{{ badge }}</p></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if card.image %}
        {% if card.image.path %}
          <div class="fr-card__img">
            {% if card.imgWidths %}
              <img eleventy:widths={{card.imgWidths}} src="{{card.image.path}}" alt="{{card.image.alt}}" class="fr-responsive-img" data-fr-js-ratio="true">
            {% else %}
              <img srcset="{{card.image.path}}" alt="{{card.image.alt}}" class="fr-responsive-img" data-fr-js-ratio="true">
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>