{% if not tile %}
    {% set tile = params %}
{% endif %}
<div class="fr-tile fr-tile--vertical fr-tile--no-border {{tile.addClass}}">
    <div class="fr-tile__body">
        <div class="fr-tile__content">
            <h3 class="fr-tile__title {{tile.addTitleClass}}">
              {{tile.title}}
            </h3>
            <div class="fr-tile__desc">{{ tile.description | safe }}</div>
            {% if tile.link %}
            <div class="fr-tile__link">
                <a title="{{tile.link.title}}" href="{{tile.link.url}}" target={{tile.link.target}}> {{tile.link.text}} {% if tile.link.target=="" %}<span class="fr-icon-arrow-right-line"></span> {% endif %} </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if tile.pictogram or tile.headerText %}
        <div class="fr-tile__header">
            {% if tile.pictogram %}
                <div class="fr-tile__pictogram">
                    {% set pictogramUrl = "/artwork/pictograms/" + tile.pictogram %}
                    <svg aria-hidden="true"
                        class="fr-artwork"
                        viewBox="0 0 80 80"
                        width="80px"
                        height="80px">
                        <use class="fr-artwork-decorative" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-decorative"></use>
                        <use class="fr-artwork-minor" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-minor"></use>
                        <use class="fr-artwork-major" href="{{ pictogramUrl | htmlBaseUrl }}#artwork-major"></use>
                    </svg>
                </div>
            {% endif %}
            {% if tile.headerText %}
                <div class="fr-tile__headerText">
                    <p>{{tile.headerText}}</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
