{% if not usage_card %}{% set usage_card = params %}{% endif %}

<div class="fr-grid-row fr-grid-row--no-gutters usageCard bgDefaultGrey">
  <div class="fr-col-12 fr-col-md usageCardImg">
    <img srcset="{{usage_card.srcset}}" alt="">
  </div>
   <div class="fr-col-12 fr-col-md usageCardCol">
    {{usage_card.content | safe}}
   </div>
</div>
