---
title: Évolutions
layout: layouts/home.njk
showBreadcrumb: true
eleventyNavigation:
    key: Évolutions
    order: 5
    permalink: "/evolutions"
    nav: main
---

{% from "components/component.njk" import component with context %}

<div class="fr-mb-6w">
    <div class="fr-container">
            {% include "components/breadcrumb.njk" %}
            <h1>Évolutions</h1>
            <p>Découvrez les évolutions à venir sur l’ensemble des services de cartes.gouv.fr.</p>
    </div>
</div>

<div class="fr-mb-6w section_1">
    <div class="fr-container">
        <section>
            <h2>Feuille de route</h2>
            <div class="calendar">
                <div class="trimester_tab">
                    <button onclick="setTabView(this)" data-tab_id="tab_1">Mars 2026</button>
                    <button class="selected" onclick="setTabView(this)" data-tab_id="tab_2">Juin 2026</button>
                    <button onclick="setTabView(this)" data-tab_id="tab_3">Septembre 2026</button>
                    <button onclick="setTabView(this)" data-tab_id="tab_4">Décembre 2026</button>
                </div>
                <div id="tab_1" class="tab_content">
                    <div class="trimester_infos">
                        <p class="title">Trimestre 1 2026 :</p>
                        <p class="fr-badge fr-badge--md fr-badge--success fr-badge--no-icon">Livré</p>
                    </div>
                    <div class="month_container">
                        <p class="month">Janvier</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Sélecteur de territoire</p>
                                <p>Ajout d’un outil pour accéder rapidement à des territoires définis (par défaut Métropole et Outre-mer).</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Vignettes</p>
                                <p>Correction d’un nombre important de vignettes de données.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-archipel">
                                <span class="fr-icon-database-line fr-ml-n1v" style="scale:0.5;"></span>
                                Publier
                            </p>
                            <div class="text_zone">
                                <p class="title">Formulaire de demande d’accès</p>
                                <p>Ajout d’une page formulaire pour demander l’accès à une donnée restreinte (la mise à disposition de cette page reste à la charge de chaque producteur de données).</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container">
                        <p class="month">Février</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Barre de recherche</p>
                                <p>Amélioration des recherches avancées et affichage de résultats sous forme de surface lorsque disponible.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Choisir son format d’impression</p>
                                <p>Possibilité de choisir un format (jpg, png, pdf) lors de l’impression de la carte. Et correction de l’impression (toutes les couches de la carte sont bien présentes dans l’export).</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Activation du zoom client</p>
                                <p>Ne pas cacher la couche aux zoom importants pour les couches ayant défini une plage de visibilité suffisante.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Enregistrement du croquis en cours</p>
                                <p>Si un croquis est en cours au moment de la connexion il n’est pas perdu.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Réduction des mots-clés</p>
                                <p>Mise à jour du datahub et réduction des mots-clés s’ils sont nombreux.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Ajouter un flux depuis l’aperçu à Explorer les cartes</p>
                                <p>Ajout d’un bouton dans l’aperçu pour ajouter le flux en cours à votre carte dans le service Explorer les cartes (attention : seuls les flux valides peuvent être ainsi ajoutés, les flux WFS et les flux WMS ayant un WMTS avec le même nom ne sont pas affichés dans Explorer les cartes).</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Zipper les résultats de l’interface de téléchargement</p>
                                <p>Les dalles sélectionnées dans l’interface cartographique de téléchargement peuvent être zippées en un seul fichier.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container last_month">
                        <p class="month">Mars</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">En-tête connectée</p>
                                <p>Le catalogue reconnait si l’utilisateur est connecté, il peut donc accéder à son tableau de bord depuis le service directement et sa connexion est partagée avec les autres services de cartes.gouv.fr.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Correction des téléchargements en doublon</p>
                                <p>Les fichiers à télécharger n’apparaissent plus en doublon.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-archipel">
                                <span class="fr-icon-database-line fr-ml-n1v" style="scale:0.5;"></span>
                                Publier
                            </p>
                            <div class="text_zone">
                                <p class="title">Diversification des formats en entrée</p>
                                <p>Le dépôt de données sur la Géoplateforme accepte des geojson, shape, csv et sql en plus des gpkg.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div id="tab_2" class="tab_content selected">
                    <div class="trimester_infos">
                        <p class="title">Trimestre 2 2026 :</p>
                        <p class="fr-badge fr-badge--md fr-badge--info fr-badge--no-icon">En cours</p>
                    </div>
                    <div class="month_container">
                        <p class="month">Avril</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5"></span>
                                Explorer
                            </p>
                            <div class="text_zone"></div>
                            <div class="text_zone">
                                <p class="title">Cartes de référence mises à jour</p>
                                <p>Changement des cartes de référence pour faciliter l’accès aux cartes les plus utilisées.</p>
                            </div>
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container">
                        <p class="month">Mai</p>
                        <div class="evo_elem">
                            <div class="text_zone">
                                <p class="title">Inscription à la lettre d’information</p>
                                <p>Accès depuis le pied de page vers la page d’inscription à la lettre d’information cartes.gouv.fr.</p>
                            </div>
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Nouvel outil de croquis</p>
                                <p>Mise en place d’un outil de dessin complètement retravaillé pour le rendre plus simple d’utilisation.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Autres types de sélection dans l’interface de téléchargement</p>
                                <p>Dans l’interface cartographique de téléchargement, il est possible de sélectionner des dalles en important un fichier geojson ou en recherchant une limite administrative dans une liste.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container last_month">
                        <p class="month">Juin</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Refonte de la gestion des outils</p>
                                <p>Tous les outils seront affichés par défaut au lieu d’utiliser un catalogue d’outils pour cocher ceux que l’on souhaite afficher.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Visionneuse photo</p>
                                <p>Pouvoir consulter les photos de son environnement (rue, chemin, cours d’eau, bâtiment, etc.).</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Connecter le compte utilisateur Géoplateforme avec Géonetwork</p>
                                <p>Cela permet de donner accès à des fonctionnalités du catalogue accessibles en mode connecté.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem last_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-bourgeon">
                                <span class="fr-icon-message-2-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Contribuer
                            </p>
                            <div class="text_zone">
                                <p class="title">Service « Collaborer aux données »</p>
                                <p>Mise en ligne d’un nouveau service : « Collaborer aux données ». Ce service reprend le fonctionnel de l’espace collaboratif IGN et permet de mettre à disposition une base de données pour la visualiser et faire des signalements ou des contributions directes. Le service sera en bêta le temps que le périmètre complet soit développé.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div id="tab_3" class="tab_content">
                    <div class="trimester_infos">
                        <p class="title">Trimestre 3 2026 :</p>
                        <p class="fr-badge fr-badge--md fr-badge--yellow-tournesol">À venir</p>
                    </div>
                    <div class="month_container">
                        <p class="month">Juillet</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--yellow-tournesol">
                                <span class="fr-icon-brush-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Créer
                            </p>
                            <div class="text_zone">
                                <p class="title">Service « Créer une carte »</p>
                                <p>Mise en ligne d’un nouveau service « Créer une carte personnalisée ». Ce service reprendra au fur et à mesure le fonctionnel de MaCarte.ign.fr. Le service sera en bêta le temps que le périmètre complet soit développé.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container">
                        <p class="month">Août</p>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container last_month">
                        <p class="month">Septembre</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Pouvoir noter une fiche produit et tri par popularité</p>
                                <p>L’utilisateur peut noter une fiche produit, ce qui permet de trier les résultats de recherche par popularité des fiches.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-archipel">
                                <span class="fr-icon-database-line fr-ml-n1v" style="scale:0.5;"></span>
                                Publier
                            </p>
                            <div class="text_zone">
                                <p class="title">Refonte des parcours de publication et de mise à jour</p>
                                <p>Rendre plus intuitif le dépôt de données, la génération de flux et la mise à jour avec une refonte globale du parcours.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--pink-macaron">
                                <span class="fr-icon-contacts-book-upload-line fr-ml-n1v" style="scale:0.5;"></span>
                                Extraire
                            </p>
                            <div class="text_zone">
                                <p class="title">Service « Extraire une donnée »</p>
                                <p>Mise en ligne d’un nouveau service sur cartes.gouv.fr : « Extraire une donnée ». Ce service est une interface cartographique pour créer une requête d’extraction sur une base de données de la Géoplateforme et ainsi limiter le résultat à une emprise et des attributs.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div id="tab_4" class="tab_content">
                    <div class="trimester_infos">
                        <p class="title">Trimestre 4 2026 :</p>
                        <p class="fr-badge fr-badge--md fr-badge--yellow-tournesol">À venir</p>
                    </div>
                    <div class="month_container">
                        <p class="month">Octobre</p>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container">
                        <p class="month">Novembre</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Moissonnage d’autres plateformes</p>
                                <p>Étudier la possibilité de recenser des métadonnées stockées sur d’autres plateformes et gérer les effets de doublons.</p>
                            </div>                            
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--blue-cumulus">
                                <span class="fr-icon-search-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Rechercher
                            </p>
                            <div class="text_zone">
                                <p class="title">Rechercher par territoire</p>
                                <p>Filtrer les résultats pour n’afficher que ceux qui intersectent une emprise géographique renseignée.</p>
                            </div>
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-archipel">
                                <span class="fr-icon-database-line fr-ml-n1v" style="scale:0.5;"></span>
                                Publier
                            </p>
                            <div class="text_zone">
                                <p class="title">Publier des fiches de réutilisation</p>
                                <p>Permettre de rédiger et de mettre à jour des fiches de réutilisation qui seront visibles dans le catalogue.</p>
                            </div>                            
                        </div>
                    </div>
                    <div class="month_separator"></div>
                    <div class="month_container last_month">
                        <p class="month">À étudier</p>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">
                                <span class="fr-icon-road-map-fill fr-ml-n1v" style="scale:0.5;"></span>
                                Explorer
                            </p>
                            <div class="text_zone">
                                <p class="title">Visualisation 3D</p>
                                <p>Pouvoir visualiser des données en trois dimensions. Étude de la technologie à choisir.</p>
                            </div>
                        </div>
                        <div class="evo_elem">
                            <p class="fr-badge fr-badge--sm fr-badge--green-archipel">
                                <span class="fr-icon-database-line fr-ml-n1v" style="scale:0.5;"></span>
                                Publier
                            </p>
                            <div class="text_zone">
                                <p class="title">Déposer de la donnée raster</p>
                                <p>Étudier la possibilité de déposer de la donnée raster sur la Géoplateforme directement via cartes.gouv.fr.</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>

<div class="fr-mb-6w section_2">
    <div class="fr-container">
        <div class="fr-grid-row">
            <section>
                <h2>Notes de sortie</h2>
                <div class="notes">
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info fr-icon">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-edito
                            </p>
                            <div class="note_body">
                                <h3>Général</h3>
                                <p>Interface générale de cartes.gouv.fr (découvrir cartes.gouv.fr, pages légales...)</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-edito - Ouvre une nouvelle fenêtre"
                               href="https://github.com/IGNF/cartes.gouv.fr-edito/releases"
                               target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-entree-carto
                            </p>
                            <div class="note_body">
                                <h3>Explorer les cartes</h3>
                                <p>Interface de visualisation pour explorer et afficher les cartes</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-entree-carto - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-entree-carto/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-geonetwork-ui
                            </p>
                            <div class="note_body">
                                <h3>Rechercher une donnée (catalogue)</h3>
                                <p>Interface de catalogue des données pour rechercher une donnée</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-geonetwork-ui - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/geonetwork-ui/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-telechargement
                            </p>
                            <div class="note_body">
                                <h3>Rechercher une donnée (interface de téléchargement)</h3>
                                <p>Interface pour télécharger une donnée</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-telechargement - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-telechargement/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr
                            </p>
                            <div class="note_body">
                                <h3>Publier une donnée</h3>
                                <p>Interface pour héberger et publier une donnée sur cartes.gouv.fr</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-editeur-carto
                            </p>
                            <div class="note_body">
                                <h3>Créer une carte (éditeur)</h3>
                                <p>Interface pour créer et personnaliser des cartes</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-editeur-carto - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-editeur-carto/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-visionneuse-carto
                            </p>
                            <div class="note_body">
                                <h3>Créer une carte (visionneuse)</h3>
                                <p>Interface pour partager et consulter les cartes</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-visionneuse-carto - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-visionneuse-carto/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-guichet-collaboratif
                            </p>
                            <div class="note_body">
                                <h3>Collaborer aux données</h3>
                                <p>Interface pour créer des guichets et collaborer sur des bases de données</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-guichet-collaboratif - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-guichet-collaboratif/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-extraction
                            </p>
                            <div class="note_body">
                                <h3>Extraire une donnée</h3>
                                <p>Interface pour extraire une donnée selon des tables ou sur un territoire</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-extraction - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-extraction/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note_content">
                            <p class="note_info">
                                <span class="fr-icon fr-icon--sm fr-icon-github-fill"></span>
                                cartes.gouv.fr-documentation
                            </p>
                            <div class="note_body">
                                <h3>Aide</h3>
                                <p>Interfaces d’aide et de documentation sur les services de cartes.gouv.fr</p>
                            </div>
                            <a class="note_action"
                               title="Consulter les notes de sortie de cartes.gouv.fr-documentation - Ouvre une nouvelle fenêtre" href="https://github.com/IGNF/cartes.gouv.fr-documentation/releases" target="_blank">Consulter les notes de sortie</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="fr-mb-6w section_3">
    <div class="fr-container">
        <div class="fr-grid-row">
            <section>
                <h2>Pour aller plus loin</h2>
                <div class="section_container">
                    <div class="section_elem">
                        <svg aria-hidden="true"
                            class="fr-artwork"
                            viewBox="0 0 80 80">
                            <use class="fr-artwork-decorative" href="/artwork/pictograms/innovation.svg#artwork-decorative"></use>
                            <use class="fr-artwork-minor" href="/artwork/pictograms/innovation.svg#artwork-minor"></use>
                            <use class="fr-artwork-major" href="/artwork/pictograms/innovation.svg#artwork-major"></use>
                        </svg>
                        <div>
                            <p>Une idée d’amélioration ? Un besoin ? N’hésitez pas à soumettre vos idées et vos propositions à l’équipe de cartes.gouv.fr.</p>
                            <a href="/aide/fr/nous-ecrire" id="idea_btn" class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" data-fr-js-button-actionee="true">Soumettre une idée</a>
                        </div>
                    </div>
                    <div class="section_elem second_elem">
                        <svg aria-hidden="true"
                            class="fr-artwork"
                            viewBox="0 0 80 80">
                            <use class="fr-artwork-decorative" href="/artwork/pictograms/notification.svg#artwork-decorative"></use>
                            <use class="fr-artwork-minor" href="/artwork/pictograms/notification.svg#artwork-minor"></use>
                            <use class="fr-artwork-major" href="/artwork/pictograms/notification.svg#artwork-major"></use>
                        </svg>
                        <div>
                            <p>Consultez les actualités de la Géoplateforme.</p>
                            <a href="/aide/fr/guides-utilisateur/utiliser-les-services-de-la-geoplateforme/changements-evolutions/" id="consult_btn" class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" data-fr-js-button-actionee="true">Consulter</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% js "body" %}
  <script type="text/javascript" src="/js/evolutions.js"></script>
{% endjs %}
