---
title: Actualités
layout: layouts/page.njk
showBreadcrumb: true
eleventyNavigation:
    key: Actualités
    order: 4
    permalink: "/actualites"
    nav: main
---

<div id="actualites-container"></div>

{% js "body" %}
<script type="text/javascript" src="/js/actualites.js"></script>
{% endjs %}