---
title: Actualités
layout: layouts/page.njk
showBreadcrumb: true
showTitle: false
eleventyNavigation:
    key: Actualités
    order: 4
    permalink: "/actualites"
    nav: main
---

<div class="fr-container">
    <div id="actualites-container" class="fr-container"></div>
</div>

{% js "body" %}
<script type="text/javascript" src="/js/actualites.js"></script>
{% endjs %}