---
layout: layouts/base.njk
---
<div class="fr-mb-6w">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-10">
          {% if showBreadcrumb %}
            {% include "components/breadcrumb.njk" %}
          {% endif %}
          {% if showTitle %}
            {% if hasLoader %}
              <h1>{{ effectiveTitle if effectiveTitle else title }} <span id="loader" class="fr-icon-refresh-line fr-icon--lg frx-icon-spin"></span></h1>
            {% else %}
              <h1>{{ effectiveTitle if effectiveTitle else title }}</h1>
            {% endif %}
          {% endif %}
          {% if description %}
            <p class="fr-text--lead">
              {{ description }}
            </p>
          {% endif %}
          {% if summary.visible %}
            {% set depth = summary.depth | default(1) %}
            {% set summaryItems = content | getSummaryItems(depth) %}
            {% include "components/summary.njk" %}
          {% endif %}
        </div>
      </div>
    </div>
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>