---
title: Lettre d’information - Confirmation
layout: layouts/home.njk
showBreadcrumb: true
---

{% from "components/component.njk" import component with context %}

<div class="fr-container confirmation-container">

    <div>
        <div class="fr-alert fr-alert--success fr-input-group fr-mb-5w">
            <p>Votre demande a été prise en compte. Vous allez recevoir un courriel de confirmation.</p>
        </div>
        <p class="fr-mb-12w hintText">Si vous n’avez pas reçu de courriel (n’hésitez pas à vérifier dans les indésirables), nous vous prions de bien vouloir renouveler votre demande ultérieurement.</p>
    </div>

    <hr>

    <div class="fr-container">
        <p class="fr-text--xl fr-mt-8w fr-mb-5w">Découvrez également</p>

        <div class="fr-grid-row fr-grid-row--gutters fr-mt-0">
            <div class="fr-col-12 fr-col-md-4">
                {{ component("tile", {
                        addClass: "blue",
                        title: "Des temps forts",
                        description: "Inscrivez-vous à nos prochains événements et ateliers pour découvrir les nouveautés, poser vos questions et partager vos cas d’usages.",
                        link: {url: "/actualites", text: "Voir les actualités", target: ""}
                    }) 
                }}
            </div>
            <div class="fr-col-12 fr-col-md-4">
                {{ component("tile", {
                        title: "Une communauté",
                        description: "Rejoignez une communauté d’utilisateurs et de contributeurs pour échanger, partager vos retours et construire ensemble les services de demain.",
                        link: {url: "/nous-rejoindre", text: "Rejoindre la communauté", target: ""}
                    }) 
                }}
            </div>
            <div class="fr-col-12 fr-col-md-4">
                {{ component("tile", {
                        title: "Une aide",
                        description: "Accédez à notre centre d’aide à tout moment pour découvrir nos bonnes pratiques, contacter notre support ou participer à nos webinaires en ligne.",
                        link: {url: "/aide", text: "Consulter l’aide", target: "_blank"}
                    }) 
                }}
            </div>
        </div>
    </div>
</div>

